<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
  <form action="https://blog.us19.list-manage.com/subscribe/post?u=722e6852e6b344f9a387d3d59&amp;id=7f04b089c6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Subscribe to get updates</label>
      <p>Subscribe to get notified of updates and when new guides are published. No spam.</p>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_722e6852e6b344f9a387d3d59_7f04b089c6" tabindex="-1" value="">
      </div>
      <div class="clear">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
    </div>
  </form>
</div>
<!--End mc_embed_signup-->
